body {
	/*background: #999;*/
	background-image: url("../background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
	/*backdrop-filter: blur(5px);*/
	
	/*filter: blur(5px);*/
	
	font-family: arial;
	margin: 0px;
}

header h1 {
	margin: 0px;
	display: inline;
	position: absolute;
	font-size: 25px;
}

header {
	background: rgb(34, 34, 34);
	color: rgb(86, 255, 128);
	padding-top: 9px;
	padding-left: 9px;
}

a {
	color: rgb(84, 66, 104);
	text-decoration: none;
}

p {
	color: white;
	background: #222;
	padding: 10px 15px;
	margin: 15px 75px;
}

p a {
	padding-left: 35px;
}

#special {
	color: black;
	background: yellow;
	border: black solid 2px;
	height: 75px;
	text-align: center;
	padding: 30px 15px;
	font-size: 1.2em;
}

nav {
	text-align: center;
}

nav ul {
	display: inline;
	margin: auto;
	
	width: 70%;
	margin: auto;
	text-align: center;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	background: rgb(55, 43, 68);
	padding: 5px 30px;
	margin-bottom: 5px;
	margin-right: 10px;
	
	border: rgb(84, 66, 104) solid 2px;
	border-radius: 5px;
}

#blur {
	z-index: -1;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100vh;
	position: fixed;
	
	top: 0px;
	left: 0px;
	
	backdrop-filter: blur(5px);
}

.page-title {
	background-color: rgba(255, 255, 255, 0.4);
	color: black;
	text-align: center;
	font-size: 1.2em;
}

.division {
	margin-top: 60px;
}

.siteicon {
	position: absolute;
	padding-left: 0;
	
	width: 16px;
	height: 16px;
}

.invert {
	filter: invert(100%);
}

.nolink {
	color: white;
}

.noicon {
	padding-left: 0;
}


/* BUTTON */
.button {
	/* margin: 15px 75px; */
	/* width: 135px; */
	margin: 15px 75px;
	width: 350px;
	height: 32px;
	border-radius: 3px;
	border: none;
	background-color: white;
}

.button:focus {
	outline: none;
	box-shadow: 0 0 3px 0 #ddd;
}

.button:hover {
	background-color: #E5E7E9;
}


